@font-face {
  font-family: Varela Round;
  src: url("../../../fonts/VarelaRound-Regular.ttf") format("truetype");
}

.introScreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;

  font-family: Varela Round;
  font-weight: normal;
}
.evening,
.night {
  mix-blend-mode: darken;
  opacity: 0.95;
}

.title {
  color: #fbf9f9;
  font-size: 4em;
  padding: 0.75em 1em;
}
.morning .title {
  background-color: rgba(137, 160, 126, 0.85);
}
.afternoon .title {
  background-color: rgba(122, 90, 59, 0.85);
}
.evening .title {
  background-color: rgba(31, 73, 122, 0.85);
}
.night .title {
  background-color: rgba(105, 105, 105, 0.85);
}

.subtitle {
  color: #000;
  font-size: 2em;
}
.evening .subtitle {
  color: #fbf9f9;
}
.night .subtitle {
  color: #fbf9f9;
}

.buttonContainer {
  width: 100%;
  margin: 3em 0;

  display: flex;
  justify-content: center;
}

.buttonContainer button {
  margin: 0 1em;
}
