@font-face {
  font-family: Varela Round;
  src: url("VarelaRound-Regular.ttf") format("truetype");
}

.button {
  font-family: Varela Round;
  font-weight: normal;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  padding: 0 1.5em;
}
.button--primary {
  color: #fbf9f9;
  background-color: rgba(137, 160, 126, 0.85);
}
.button--secondary {
  color: #979797;
  background-color: transparent;
  box-shadow: rgba(137, 160, 126, 0.85) 0px 0px 0px 4px inset;
}
